imageio
joblib
matplotlib
numpy
opencv-contrib-python-headless
opencv-python-headless
openpyxl
pandas
path
Pillow
pytz
PyYAML
scikit-image
scipy
tensorboard
tensorboardX
torch==2.4.1+cu118
torchvision==0.19.1+cu118
tqdm
